*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "DM sans", sans-serif;
  padding: 10px;
  background-color: #191a2e;
}
.button {
  color: white;
  font-size: 75%;
  padding: 15px;
  border-radius: 4px;
  background-color: #f62682;
  position: relative;
  overflow: hidden;
}
.button .circle {
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  animation: fade 0.5s ease-out;
  border-radius: 100rem;
}
@keyframes fade {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4);
  }
}
